<nav class="name">
    <h1 class="ttle">Plan & Pantry</h1>
</nav>

<div class="container-fluid" style="margin-top: 2%;">
    <mat-form-field class="example-full-width" style="width: 30%; margin-left: 70%">
        <span matPrefix> </span>
        <input type="tel" matInput placeholder="Search" name="search">
        <button matSuffix mat-button>
            <mat-icon>search</mat-icon>
        </button>
        <button matSuffix mat-button>
            <mat-icon>add</mat-icon>
        </button>
        <button matSuffix mat-button>
            <mat-icon>delete</mat-icon>
        </button>
    </mat-form-field><br/>

    <div class="row">
        <div class="col" style="max-width: 240px;">
            <app-sidebar class="sticky-top"></app-sidebar>
        </div>

        <div class="col col-md" style="margin-top: 5%;">
            <button class="btn btn-outline-info" type="button">My Pantry ></button>
            <div class="container">
                <div class="row">

                    <div class="col-sm">
                        <h2>Fruit</h2>
                        <ul>
                            <li>Apples</li>
                            <li>Bananas</li>
                            <li>Oranges</li>
                            <li>Box of Strawberries</li>
                            <li>Boxes of Blueberries</li>
                            <li>Plantains</li>
                        </ul>
                    </div>
                    <div class="col-sm v-divider">
                        <h2>Vegetables</h2>
                        <ul>
                            <li>Cucumbers</li>
                            <li>Bag of Baby Carrots</li>
                            <li>Stick of Celery</li>
                            <li>Heads of Lettuce</li>
                            <li>Bag of Spinach</li>
                            <li>Leeks</li>
                        </ul>
                    </div>          
                    <div class="col-sm v-divider">
                        <h2>Dry Food</h2>
                        <ul>
                            <li>Boxes of Cereal</li>
                            <li>Bag of Almonds</li>
                            <li>Loaf of Bread</li>
                            <li>Cans of Black Beans</li>
                            <li>Onions</li>
                            <li>Bag of Idaho Potato's</li>
                        </ul>
                    </div>
                    <div class="col-sm v-divider">
                        <h2>Fridge</h2>
                        <ul>
                            <li>Tub of Greek Yogurt</li>
                            <li>Half-Gallon of Milk</li>
                            <li>Quart of Half and Half</li>
                            <li>Eggs</li>
                            <li>Block of Cheddar Cheese</li>
                        </ul>
                    </div>
                    <div class="col-sm v-divider">
                        <h2>Freezer</h2>
                        <ul>
                            <li>Frozen Pizza</li>
                            <li>Bag of Tatter Tots</li>
                            <li>Frozen Chicken Breast</li>
                            <li>7 Bags Totino's Pizza Rolls</li>
                        </ul>
                    </div>                  

                </div>
            </div>  
        
            <hr/>

            <div>
                <button class="btn btn-outline-info" type="button">My Recipes ></button>


              <div class="container">
                <div class="row pt-5 m-auto">
                  <div class="col-md-6 col-lg-4 pb-3">

                    <div class="card card-custom bg-white border-white border-0">
                      <div class="card-custom-img" style="background-image: url(https://images-gmi-pmc.edge-generalmills.com/8145fa01-3b5c-4c14-a0b5-c4b5dfd66bd6.jpg);"></div>
                      <div class="card-body" style="overflow-y: auto">
                        <h3 class="card-title">Apple Pie</h3>
                        <p class="card-text">Applie Pie Recipe lorem ipsum summary description recipe</p>
                      </div>
                      <div class="card-footer" style="background: inherit; border-color: inherit;">
                        <a href="#" class="btn btn-outline-primary" style="margin-right: 10px;">View</a>
                        <a href="#" class="btn btn-outline-danger">Add to List</a>
                      </div>
                    </div>

                  </div>
                    <div class="col-md-6 col-lg-4 pb-3">
                        <div class="card card-custom bg-white border-white border-0" style="height: 450px">
                            <div class="card-custom-img" style="background-image: url(https://static.wixstatic.com/media/65f1ef_aa4c79a018e940c5bbd35bd483c291ff~mv2_d_3600_2400_s_4_2.jpg/v1/fill/w_288,h_287,al_c,q_80,usm_0.66_1.00_0.01/_MG_0607.webp);"></div>

                            <div class="card-body" style="overflow-y: auto">
                            <h4 class="card-title">Onion Rings</h4>
                            <p class="card-text">Onion rings are a type of snack where large white onions are sliced to form into rings, dipped in a batter and/or bread crumbs then deep fried, usually accompanied with a dipping sauce like ketchup, barbecue sauce and or mayonnaise.</p>
                            </div>
                            <div class="card-footer" style="background: inherit; border-color: inherit;">
                            <a href="#" class="btn btn-outline-primary" style="margin-right: 10px;">View</a>
                            <a href="#" class="btn btn-outline-danger">Add to List</a>
                            </div>
                        </div>
                    </div>
                  

                </div>
              </div>

            </div>

        </div>
    </div>
</div>
