<nav class="name">
    <h1 class="ttle">Plan & Pantry</h1>
</nav>

<div class="container">
  <div class="row">
    <div class="col" style="max-width: 240px;">
      <app-sidebar class="sticky-top"></app-sidebar>
    </div>

    <div class="col col-md">
      <mat-card style="margin-top: 20px;">
        <h2>Recipe Name</h2>
        <h3>Total Time: (x) minutes</h3>
        <h3>Prep Time: (x) minutes</h3>
        <h3>Cook Time: (x) minutes</h3>
        <div class="ing">
          <div style="margin-left: 10px; margin-top: 10px;">
            <h4>Ingredients:</h4>
            <ul>
              <li>Ingredient 1: 1 Cup</li>
              <li>Ingredient 2: 2 tbsp</li>
              <li>Ingredient 3: 1 stick</li>
              <li>Ingredient 4: 3 tsp</li>
              <li>Ingredient 5: 4 cups</li>
              <li>Ingredient 6: 1 lb</li>
            </ul>
          </div>
        </div>

        <br>

        <div class="ing">
          <div style="margin-left: 10px; margin-top: 10px;">
            <h4>Steps:</h4>
            <ol>
              <li>Do thing</li>
              <li>Do thing</li>
              <li>Do thing</li>
              <li>Do thing</li>
              <li>Do thing</li>
              <li>Do thing</li>
            </ol>
          </div>
        </div>
      </mat-card>

    </div>
  </div>
</div>