h1 {
  color: white;
  font-size: 40px;
}

.name {
  background-color: rgba(255, 184, 0, 255);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.ing {
  border-radius: 10px;
  border: 1px solid #abc;
}