<nav class="name">
    <h1 class="ttle">Plan & Pantry</h1>
</nav>

<div class="container">
  <div class="row">
    <div class="col" style="max-width: 240px;">
      <app-sidebar class="sticky-top"></app-sidebar>
    </div>

    <div class="col col-md">

      <div class="recipenav">
        <a class="active" href="#home">All</a>
        <a href="#">Chinese</a>
        <a href="#">Italian</a>
        <a href="#">Mexican</a>
        <a href="#">Organic</a>
        <a href="#">Thai</a>
        <a href="#">American</a>
        <a href="#">Vegan</a>
        <a href="#">British</a>
      </div>
      <div class="recipenav">
        <a href="#home">Using my Ingredients</a>
        <a class="active" href="#news">All Recipes</a>
      </div>

      <div id="bodyblock">

        <div class="container">
          <div class="row pt-5">
            <!-- <div class="col-sm-2  ">
              <app-sidebar></app-sidebar>
            </div> -->
            <div class="col-sm-4">
              <div class="card card-custom bg-white border-white border-0">
                <div class="card-custom-img"
                  style="background-image: url(https://images-gmi-pmc.edge-generalmills.com/8145fa01-3b5c-4c14-a0b5-c4b5dfd66bd6.jpg);">
                </div>
                <div class="card-body" style="overflow-y: auto">
                  <h3 class="card-title">Apple Pie</h3>
                  <p class="card-text">Applie Pie Recipe lorem ipsum summary description recipe</p>
                </div>
                <div class="card-footer" style="background: inherit; border-color: inherit;">
                  <a href="#" class="btn btn-outline-primary" style="margin-right: 10px;">View</a>
                  <a href="#" class="btn btn-outline-danger">Add to List</a>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="card card-custom bg-white border-white border-0" style="height: 450px">
                <div class="card-custom-img"
                  style="background-image: url(https://static.wixstatic.com/media/65f1ef_aa4c79a018e940c5bbd35bd483c291ff~mv2_d_3600_2400_s_4_2.jpg/v1/fill/w_288,h_287,al_c,q_80,usm_0.66_1.00_0.01/_MG_0607.webp);">
                </div>
                <div class="card-body" style="overflow-y: auto">
                  <h3 class="card-title">Onion Rings</h3>
                  <p class="card-text">Onion rings are a type of snack where large white onions are sliced to form into rings,
                    dipped in a batter and/or bread crumbs then deep fried, usually accompanied with a dipping sauce like
                    ketchup, barbecue sauce and or mayonnaise.</p>
                </div>
                <div class="card-footer" style="background: inherit; border-color: inherit;">
                  <a href="#" class="btn btn-outline-primary" style="margin-right: 10px;">View</a>
                  <a href="#" class="btn btn-outline-danger">Add to List</a>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="card card-custom bg-white border-white border-0" style="height: 450px">
                <div class="card-custom-img"
                  style="background-image: url(https://hostthetoast.com/wp-content/uploads/2017/06/Sheet-Pan-Chicken-Piccata-with-Veggies-100C.jpg);">
                </div>
                <div class="card-body" style="overflow-y: auto">
                  <h3 class="card-title">Sheet Pan Lemon Chicken with Potatoes, Tomatoes, and Capers</h3>
                  <p class="card-text">This sheet pan dinner is a combination of juicy chicken thighs, capers, lemon, cherry
                    tomatoes, and a generous shower of fresh basil. Everything is done at once and can be served straight from
                    the sheet pan.</p>
                </div>
                <div class="card-footer" style="background: inherit; border-color: inherit;">
                  <a href="#" class="btn btn-outline-primary" style="margin-right: 10px;">View</a>
                  <a href="#" class="btn btn-outline-danger">Add to List</a>
                </div>
              </div>
            </div>


          </div>


          <div class="row pt-5">

            <div class="col-sm-4">
              <div class="card card-custom bg-white border-white border-0" style="height: 450px">
                <div class="card-custom-img"
                  style="background-image: url(https://shwetainthekitchen.com/wp-content/uploads/2012/11/IMG_7026-1024x1536.jpg);">
                </div>
                <div class="card-body" style="overflow-y: auto">
                  <h3 class="card-title">Matar Paneer</h3>
                  <p class="card-text">Matar paneer is a traditional North Indian dish of creamy paneer and peas swimming in a
                    mildly spiced tomato sauce. My take on the classic dish can be prepared in just around 30 minutes.</p>
                </div>
                <div class="card-footer" style="background: inherit; border-color: inherit;">
                  <a href="#" class="btn btn-outline-primary" style="margin-right: 10px;">View</a>
                  <a href="#" class="btn btn-outline-danger">Add to List</a>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="card card-custom bg-white border-white border-0" style="height: 450px">
                <div class="card-custom-img"
                  style="background-image: url(https://www.beyondkimchee.com/wp-content/uploads/2021/01/Korean-braised-short-ribs-2.jpg);">
                </div>
                <div class="card-body" style="overflow-y: auto">
                  <h3 class="card-title">Kalbi Jjim (Korean Braised Short Ribs)</h3>
                  <p class="card-text">These tender, savory and sweet beef short ribs are a popular dish served for Seollal
                    (Korean Lunar New Year), birthdays, and special celebrations.</p>
                </div>
                <div class="card-footer" style="background: inherit; border-color: inherit;">
                  <a href="#" class="btn btn-outline-primary" style="margin-right: 10px;">View</a>
                  <a href="#" class="btn btn-outline-danger">Add to List</a>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="card card-custom bg-white border-white border-0" style="height: 450px">
                <div class="card-custom-img"
                  style="background-image: url(https://www.justataste.com/wp-content/uploads/2020/06/cherry-tomato-pasta-sauce-recipe-580x875.jpg);">
                </div>
                <div class="card-body" style="overflow-y: auto">
                  <h3 class="card-title">Pasta with Ricotta and Pan-Fried Tomato Sauce</h3>
                  <p class="card-text">This quick weeknight dish uses a searingly hot pan and fluffy fresh ricotta to recreate
                    the flavors of classic stuffed shell recipe.</p>
                </div>
                <div class="card-footer" style="background: inherit; border-color: inherit;">
                  <a href="#" class="btn btn-outline-primary" style="margin-right: 10px;">View</a>
                  <a href="#" class="btn btn-outline-danger">Add to List</a>
                </div>
              </div>
            </div>


          </div>
        </div>
      
      </div>
    </div>
  </div>
</div>