<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <nav class="navbar">
        <h1 class="ttle">Welcome to<br>Plan & Pantry</h1>
    </nav>
    <mat-card>
        <mat-card-content>
            <div class="header">
                <h2>Sign Up</h2>
            </div>
            <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
                <div class="email-input">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input autocomplete="false" formControlName="email" placeholder="Email Address" #email matInput required />
                        <mat-error *ngIf="loginForm.get('email').errors?.required">
                            Required email address
                        </mat-error>
                        <mat-error *ngIf="loginForm.get('email').errors?.email">
                            Invalid Email Address
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="email-input">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input autocomplete="false" formControlName="password" #password matInput required />
                        <mat-error *ngIf="loginForm.get('password').errors?.required">
                            Required password
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="email-input">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input formControlName="confirmPassword" matInput required />
                        <mat-error *ngIf="loginForm.get('confirmPassword').errors?.required">
                            This field is required!
                        </mat-error>
                    </mat-form-field>
                </div>
                <button mat-flat-button color="primary" style="margin: 20px;" (click)="authService.SignUp(email.value, password.value)"
                    [disabled]="!loginForm.valid">Create
                    your account</button>
                <button type="button" mat-flat-button color="primary" (click)="authService.GoogleAuth()">
                    <i class="fab fa-google-plus-g"></i>
                    Continue with Google
                </button>
                <button mat-flat-button color="primary" routerLink="../login">Already have an account? Login
                    here</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>