h1 {
	color: white;
	font-size: 40px;
}

.name {
	background-color: rgba(255,184,0,255);
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
.ttle {
	display: table;    
	margin: 0 auto;
}

.lists {
	margin:  auto;
	background-color : rgba(10,92,115,255);
}

.container {
	max-width:  100%;
}